services:
  pleye:
    build: 
      context: .
      args: [VERSION]
    ports:
      - 3000:3000
    env_file:
      - .env
  studio:
    image: ghcr.io/drizzle-team/gateway:latest
    ports:
      - 8090:8090
    environment:
      PORT: 8090
    volumes:
      - drizzle-gateway:/app
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: local
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
  drizzle-gateway:
